<html>
  <head>
    <title>| Foodfy |</title>
    <link rel="stylesheet" href="/styles.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

  </head>

  <header>
    <div class="logo">
      <a href="/index.html"><img src="/layouts/assets/logo.png" alt="Foodfy logo" /></a>
    </div>

    <div class="links">
      <a href="/index.html"> Home </a>
      <a href="/sobre.html"> Sobre </a>
      <a href="/"> Receitas </a>
    </div>
  </header>

 <body>
{% block content%}

{%endblock%}

        <div class="modalOverlay" >
            <div id="modal">
                <a class="closeButton">
                    <i class="material-icons">close</i>
                </a>

                <div class="contentImg">
                    <img src="" alt="">
                </div>

                <div class="contentText">
                    <h1> Lorem ipsum dolor sit amet.</h1>
                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                        Nemo, dolor officia incidunt quae nobis hic voluptates asperiores mollitia facere consectetur.
                        
                    </p>
                 
                </div>
            </div>
        </div>


 </body>

 <script src="script.js"> </script>

 <footer>
    <div class="footer">

        <div id="createdBy">
            Created by Carlos Lima during the Launchbase Bootcamp by <a href="https://rocketseat.com.br/">RocketSeat</a>
        </div>
      <div id="gitHub">
            
            <a href="https://github.com/Carlos-kaspa/Foodfy"> <img src="http://pngimg.com/uploads/github/github_PNG20.png" alt="github logo"></img> </a>

      </div>
    </div>
 </footer>

</html>
