{% extends "layout.html" %} 
 

{% block content %}

<div class="masterContainer">
    <div class="card"  id="/layouts/assets/burger.png" art="Burguinho">
      <div id="cardTitle">Burguinho</div>

      <div id="cardImg">
        <img src="/layouts/assets/burger.png" alt="Burguinho" />
      </div>

      <div id="cardInfo">
        burguinho de carne carnosa com carne e hamgurber
      </div>
    </div>

    <div class="card" id="/layouts/assets/asinhas.png" alt="Asinhas"">
      <div id="cardTitle">Asinhas</div>

      <div id="cardImg">
        <img src="/layouts/assets/asinhas.png" alt="Asinhas" />
      </div>

      <div id="cardInfo">
        asinhas com asas de asas de asinhas
      </div>
    </div>

    <div class="card" id="/layouts/assets/espaguete.png" alt="Espaguete">
      <div id="cardTitle">Espaguete</div>

      <div id="cardImg">
        <img src="/layouts/assets/espaguete.png" alt="Espaguete" />
      </div>

      <div id="cardInfo">
        Espaguete de macarrão de massa de trigo massento... e macarrão.
      </div>
    </div>

    <div class="card" id="/layouts/assets/lasanha.png" alt="Lasanha"">
      <div id="cardTitle">Lasagna</div>

      <div id="cardImg">
        <img src="/layouts/assets/lasanha.png" alt="Lasanha" />
      </div>

      <div id="cardInfo">
        La sagna
      </div>
    </div>

    <div class="card" id="/layouts/assets/pizza.png" alt="Pizza"">
      <div id="cardTitle">Pit.zas</div>

      <div id="cardImg">
        <img src="/layouts/assets/pizza.png" alt="Pizza" />
      </div>

      <div id="cardInfo">
        e zas e é pizza, e massa, e molho, e recheio (ou cobertura) e zas.
      </div>
    </div>

    <div class="card" id="/layouts/assets/doce.png" alt="Docinho">
      <div id="cardTitle">Docinhoooo</div>

      <div id="cardImg">
        <img src="/layouts/assets/doce.png" alt="Docinho" />
      </div>

      <div id="cardInfo">
        Huuummm... docinho...2
      </div>
    </div>
  </div>
</div>

{% endblock %}