<html>
    <head>
        <title>| Foodfy |</title>
        <link rel="stylesheet" href="styles.css" />
      </head>
    
      <header>
        <div class="logo">
          <a href="/index.html"><img src="/layouts/assets/logo.png" alt="Foodfy logo" /></a>
        </div>
        
        <div class="links">
          <a href="/sobre"> Sobre </a>
          <a href="/"> Receitas </a>
        </div>
      </header>

      <body>

        <div class="wrapper">
          
        <div id="sobre">

            <h1> Sobre o Foodfy </h1>
            <p> 
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus dicta, dolorem nostrum eius 
                consequatur vel accusantium perspiciatis inventore a explicabo velit quaerat molestias. Natus officiis, 
                ipsum iusto minima aliquid ad, aperiam assumenda totam fuga, tempore temporibus accusamus voluptates quas
                 esse!
            </p>
           
        </div>

        <div id="como">
            <h2> Como tudo começou...</h2>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias, architecto necessitatibus fuga, tempora
                 deserunt dignissimos adipisci asperiores assumenda doloribus similique eos commodi, iste quas ex nihil. 
                 Repudiandae non maiores, consectetur, possimus quidem cum itaque dolores repellat adipisci quis delectus vel?
            </p>
        </div>

        <div id="Receitas">
            <h2> Nossas Receitas</h2>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias, architecto necessitatibus fuga, tempora
                 deserunt dignissimos adipisci asperiores assumenda doloribus similique eos commodi, iste quas ex nihil. 
                 Repudiandae non maiores, consectetur, possimus quidem cum itaque dolores repellat adipisci quis delectus vel?
            </p>
        </div>

        </div>

      </body>


</html>